Django==5.0.6
Pyrogram==2.0.106
cryptomus==1.1
pytest==8.2.2
PySocks==1.7.1
rarfile==4.2
redis==5.0.7
ruff==0.4.9
requests==2.32.3
Telethon==1.36.0
TgCrypto==1.2.5
psycopg2-binary==2.9.9
djangorestframework==3.15.1
django-debug-toolbar==4.4.2
djangorestframework-stubs==3.15.0
django-stubs-ext==5.0.2
django-pytest==0.2.0
pytest-django==4.8.0
pytest-mock==3.14.0
django-stubs==5.0.2
mypy==1.10.1